{% extends "maykin_common/api/index_base.html" %}
{% load i18n %}

{% block page_title %}{{ settings.PROJECT_NAME }}{% endblock %}
{% block page_subtitle %}{% trans "Startpunt" %} {{ settings.SITE_TITLE }}{% endblock page_subtitle %}

{% block content_nl %}
<p>
    Registratiecomponent voor de opslag en ontsluiting van klantgegevens volgens de Klantinteracties en Contactgegevens API-specificaties.
</p>
<p>
    Open Klant implementeert 2 APIs: <b>Klantinteracties API</b> en <b>Contactgegevens API</b>. <br>
    De Klantinteracties API is gebaseerd op de specificatie van VNG welke een beperkte set aan gegevens over
    klanten en hun interactie met de gemeente kan opslaan en ontsluiten.
    De Contactgegevens API is een unieke API die niet op een standaard is gebaseerd.
</p>
{% endblock content_nl %}

{% block content_en %}
<p>
    Registration component for the storage and disclosure of customer data according to the Customer Interactions and Contact Data API specifications.
</p>
<p>
    Open Klant implements two APIs: the <b>Klantinteracties API</b> and the <b>Contactgegevens API</b>. <br>
    The Klantinteracties API is based on the VNG specification, which stores and accesses a limited set of data about
    customers and their interactions with the municipality.
    The Contactgegevens API is a unique API that is not based on a standard.
</p>
{% endblock content_en %}

{% block license_link %}https://github.com/maykinmedia/open-klant/blob/master/LICENSE.md{% endblock %}

{% block api_links %}
    
    <a href="{% url 'index-klantinteracties' %} " class="button">Klantinteracties</a>
    <a href="{% url 'index-contactgegevens' %}" class="button">Contactgegevens</a>
    
{% endblock %}
