tokenauth_config_enable: true
tokenauth:
  items:
    - identifier: token-1
      token: ba9d233e95e04c4a8a661a27daffe7c9bd019067
      contact_person: Person 1
      email: test@example.com
      organization: Organization XYZ
      application: Application XYZ
      administration: Administration XYZ

oidc_db_config_enable: true
oidc_db_config_admin_auth:
  providers:
  - identifier: example-provider
    oidc_use_nonce: true
    oidc_nonce_size: 32
    oidc_state_size: 32
    endpoint_config:
        oidc_op_authorization_endpoint: https://example.com/realms/test/protocol/openid-connect/auth
        oidc_op_token_endpoint: https://example.com/realms/test/protocol/openid-connect/token
        oidc_op_user_endpoint: https://example.com/realms/test/protocol/openid-connect/userinfo
  items:
  - identifier: admin-oidc
    enabled: true
    oidc_rp_client_id: testid
    oidc_rp_client_secret: 7DB3KUAAizYCcmZufpHRVOcD0TOkNO3I
    oidc_rp_scopes_list:
    - openid
    - email
    - profile
    oidc_rp_sign_algo: RS256
    oidc_provider_identifier: example-provider
    userinfo_claims_source: id_token
    options:
      user_settings:
        claim_mappings:
          username:
            - sub
          first_name:
            - given_name
          email:
            - email
        username_case_sensitive: true
      groups_settings:
        claim_mapping:
          - groups
        sync: true
        sync_pattern: '*'
        default_groups: []
        make_users_staff: true
        superuser_group_names:
          - Registreerders

zgw_consumers_config_enable: true
zgw_consumers:
  services:
    - identifier: open-notificaties
      label: Open Notificaties
      api_root: https://notificaties.gemeente.local/api/v1/
      api_type: nrc
      auth_type: zgw
      client_id: open-klant
      user_id: open-klant
      secret: open-klant-secret

    - identifier: referentielijsten-api
      label: Referentielijsten API
      api_root: http://referentielijsten-web.local:8000/api/v1/
      api_type: orc
      auth_type: no_auth

notifications_config_enable: true
notifications_config:
  notifications_api_service_identifier: open-notificaties
  notification_delivery_max_retries: 2
  notification_delivery_retry_backoff: 2
  notification_delivery_retry_backoff_max: 3

referentielijsten_config_enable: true
referentielijsten_config:
  enabled: true
  referentielijsten_api_service_identifier: referentielijsten-api
  kanalen_tabel_code: KANAAL