# For most projects, this workflow file will not need changing; you simply need
# to commit it to your repository.
#
# You may wish to alter this file to override the set of languages analyzed,
# or to provide custom queries or build logic.
name: Code quality checks

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  open-api-workflow-code-quality:
    uses: maykinmedia/open-api-workflows/.github/workflows/code-quality.yml@v5
    with:
      python-version: "3.12"
      node-version: "20"

      django-settings-module: "openklant.conf.ci"
      django-secret-key: dummy
