name: Quick Start

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'
  workflow_dispatch:

env:
  COMPOSE_DOCKER_CLI_BUILD: "1"
  DOCKER_BUILDKIT: "1"

jobs:
  open-api-workflow-quick-start:
    uses: maykinmedia/open-api-workflows/.github/workflows/quick-start.yml@v6
    with:
      fixtures: 'klantinteracties contactgegevens'
