name: Quick Start

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  open-api-workflow-quick-start:
    uses: maykinmedia/open-api-workflows/.github/workflows/quick-start.yml@v6
    with:
      fixtures: 'klantinteracties contactgegevens'

  upgrade_simulation:
    name: Simulate upgrading instances
    runs-on: ubuntu-latest
    env:
      RELEASE_OLD: "2.5.1"
      RELEASE_NEW: "2.8.0"
    steps:
      - uses: actions/checkout@v4

      - name: Build and start docker with RELEASE=${{ env.RELEASE_OLD }}
        run: |
          docker compose build --build-arg RELEASE=${{ env.RELEASE_OLD }} || ( docker compose logs > $GITHUB_STEP_SUMMARY && exit 1 )
          docker compose up -d || ( docker compose logs > $GITHUB_STEP_SUMMARY && exit 1 )

      - name: Build and start docker with RELEASE=${{ env.RELEASE_NEW }}
        run: |
          docker compose build --build-arg RELEASE=${{ env.RELEASE_NEW }} || ( docker compose logs > $GITHUB_STEP_SUMMARY && exit 1 )
          docker compose up -d || ( docker compose logs > $GITHUB_STEP_SUMMARY && exit 1 )
