name: Quick Start

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'
  workflow_dispatch:

env:
  COMPOSE_DOCKER_CLI_BUILD: 1
  DOCKER_BUILDKIT: 1
  COMPOSE_PARALLEL_LIMIT: 1

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Start docker containers
        run: |
          echo "COMPOSE_DOCKER_CLI_BUILD: $COMPOSE_DOCKER_CLI_BUILD"
          echo "DOCKER_BUILDKIT: $DOCKER_BUILDKIT"
          echo "COMPOSE_PARALLEL_LIMIT: $COMPOSE_PARALLEL_LIMIT"

      - name: Start docker containers
        run: |
          docker compose build --no-cache
          docker compose up -d
